{
	"id": "local",
	"name": "Local",
	"values": [
		{
			"key": "auth_header",
			"value": "your_key_for_authorization_header",
			"type": "default",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment"
}
